[Unit]
Description=Alex Design Django Backend
After=network.target

[Service]
Type=notify
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/alex-design/backend
Environment="PATH=/home/ubuntu/alex-design/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=backend.settings_production"
ExecStart=/home/ubuntu/alex-design/venv/bin/gunicorn --config gunicorn.conf.py backend.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
